.card{

    perspective: 150rem;
    -ms-perspective: 150rem;
    position: relative;
    height: 50rem;

    
    &__side{
        transition: all .5s ease;
        height: 50rem;
        border-radius: 3px;
        box-shadow: 0 1rem 3rem rgba($color-black, .15);
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        
        &--front{
            background-color: #fff;

        }
        &--back{
            transform: rotateY(180deg);
            
            &-1{
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
            &-2{
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
            &-3{
                background-image: linear-gradient(to right bottom, $primary-color-light, $primary-color-dark);
            }
        }
    }



    &:hover &__side--front{
        transform: rotateY(-180deg);
    }
    &:hover &__side--back{
        transform: rotateY(0);
    }

    &__image{
        height: 23rem;
        background-size: cover;
        background-blend-mode: soft-light;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        position: relative;

        &-1{
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/nat-5.jpg);
        }
        &-2{
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/nat-6.jpg);
        }
        &-3{
            background-image: linear-gradient(to right bottom, $primary-color-light, $primary-color-dark), url(../img/nat-7.jpg);
        }
    }

    &__header{
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 14rem;
        right: 5rem;
        width: 13rem;

        &-image-1{
            width: 8rem;
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
        }
        &-image-2{
            width: 8rem;
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
        }
        &-image-3{
            width: 8rem;
            background-image: linear-gradient(to right bottom, rgba($primary-color-light, .85), rgba($primary-color-dark, .85));
        }
    }

    &__header-image{
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &-1{
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));

        }
        &-2{
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));

        }
        &-3{
            background-image: linear-gradient(to right bottom, rgba($primary-color-light, .85), rgba($primary-color-dark, .85));

        }
    }
    
    &__details{
        padding: 3rem;
        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li{
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child){
                    border-bottom: 1px solid rgba($color-secondary-light, .45);
                }
            }
        }
    }

    &__cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box{
        text-align: center;
        margin: 8rem;
        color: $color-white;
    }

    &__price-only{
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    &__price-value{
        font-size: 6rem;
        font-weight: 100;
    }
}